{% extends "base.html" %}

{% block body %}

<a href="{% url 'home' %}" class="goBack">&laquo; Back to homepage</a>

<section>

    <h1><strong>{{ object_name }}</strong> objects</h1>

    <table>

        <thead>
            <th>Name</th>
            <th>{{ object_field }}</th>
        </thead>

        <tbody>

        {% for obj in object_list %}

            <tr>
                <td>{{ obj.name }}</td>
                <td>{{ obj.get_second_field_display }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</section>

<section>

    <h2>Add another <strong>{{ object_name }}</strong></h2>

    <form method="post" action="">

        {{ form.as_p }}

        <input type="submit" />

    </form>

</section>

{% endblock %}
