{% extends "base.html" %}

{% block body %}

<a href="{% url 'home' %}" class="goBack">&laquo; Back to homepage</a>

{% if show_object_list %}

<section>

    <h1><strong>{{ object_name }}</strong> objects</h1>

    <table>

        <thead>
            <th>Name</th>
            <th>{{ object_field }}</th>
        </thead>

        <tbody>

        {% for obj in object_list %}

            <tr>
                <td><a href="{{ obj.get_absolute_url }}">
                    {{ obj.name }}</a></td>
                <td>{{ obj.get_second_field_display }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</section>

{% endif %}

<section>

    {% if show_object_list %}
        <h2>Add another <strong>{{ object_name }}</strong></h2>
    {% else %}
        <h2>Edit this object</h2>
    {% endif %}

    {{ form.errors }}

    <form method="post" action="">

        {{ form.as_p }}

        <input type="submit" />

    </form>

</section>

{{ form.media.js }}

{% endblock %}
