<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>multistep_select</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
</head>
<body>

<p>This is the test project for <strong>django-multistep-select</strong>.</p>

<p><strong>django-multistep-select</strong> aims to provide a flexible multistep selection form widget for <a href="http://www.djangoproject.com">Django</a>'s <a href="https://docs.djangoproject.com/en/dev/topics/forms/">Forms API</a>. It can help with the arbitrary filtering of choices, as well as serve as a representation of a <a href="https://docs.djangoproject.com/en/dev/ref/contrib/contenttypes/#id1">GenericForeignKey</a> field.</p>

<ul>
    <li>If you <strong>just want to use the widget</strong>, you don't really need this test project; just install the app into your own project, as per the included instructions.</li>
    <li>If you would like to <strong>run the included unit tests</strong>, you would need to do this from the command line.</li>
    <li>Finally, the following <strong>demo pages</strong> are included to facilitate development: <a href="">filter demo</a>; <a href="">generic demo</a>.</li>
</ul>

<p>Cheers,<br /><a href="http://egasimus.github.io/">Adam Avramov</a></p>

</body>
</html>
